USE [master]
GO
/****** Object:  Database [COELSA]    Script Date: 21/6/2021 19:20:02 ******/
CREATE DATABASE [COELSA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COELSA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\COELSA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COELSA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\COELSA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COELSA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COELSA]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 21/6/2021 19:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Business] [varchar](50) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [Business]) VALUES (1, N'Mario', N'Fernandez', N'licfernandezmario@gmail.com', N'11 4522-4867', N'Coelsa')
INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [Business]) VALUES (2, N'Ramiro', N'Calvo', N'rcalvo@test.com', N'11 1234-1234', N'Coelsa')
INSERT [dbo].[Contacts] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [Business]) VALUES (3, N'Walter', N'Guzman', N'wguzman@test.com.ar', N'11 4568-4203', N'Coelsa')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
USE [master]
GO
